<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TornadoChat Demo</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url("css/main.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/emojify-emoticons.min.css") }}" type="text/css" charset="utf-8">
</head>
<body>
<audio id="audio" src="/static/ding.mp3"></audio>
<div id="logout">
    <a href="/logout" class="btn btn-small btn-danger">Logout [{{ user }}]</a>
	</div>

    <div id="body">
	        <div id="inbox">
	    {% for message in messages %}
		{% include "message.html" %}
	    {% end %}
	</div>
	<div id="input">
	    <form method="post" id="messageform">
		<table width="100%">
		    <tr>
		        <td>
			    <input id="message" type="text" name="body" autocomplete="off" placeholder="Enter your
			    message" />
			</td>
			<td width="5%" style="padding-left: 5px;">
			    <button type="submit" class="btn btn-primary">Post</button>
			    <input type="hidden" name="next" value="{{ request.path }}" />
			    {% module xsrf_form_html() %}
			</td>
		    </tr>
		</table>
	    </form>
	</div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
type="text/javascript"></script>
    <script src="{{ static_url("js/emojify.min.js") }}"></script>
    <script src="{{ static_url("js/chat.js") }}" type="text/javascript"></script>
    <script>
     emojify.setConfig({
	img_dir : '/static/images/emoji',
	ignored_tags : {
	'SCRIPT' : 1,
	'TEXTAREA': 1,
	'A' : 1,
	'PRE' : 1,
	'CODE' : 1
	}
    }); 
    MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
    var observer = new MutationObserver(function(mutations, observer) {
    // Go through list of changed objects and re-emojify
	mutations.forEach(function(mutation) {
	    emojify.run(mutation.target);
	});
    });
    observer.observe(document, {
	subtree: true,
	characterData: true,
	childList: true
    }); 
    </script>    
</body>
</html>
